Django==2.1
djangorestframework==3.8.2
psycopg2==2.7.5

# Test requirements
tox==3.2.1
pytest-django==3.4.2
pytest==3.7.2
pytest-cov==2.5.1
flake8==3.5.0
factory-boy==2.11.1

# wheel for PyPI installs
wheel==0.31.1

# Sphinx for documentation builds
Sphinx==1.7.7
