Django==1.11.4
djangorestframework==3.6.4
psycopg2==2.7.3

# Test requirements
tox==2.7.0
pytest-django==3.1.2
pytest==3.2.1
pytest-cov==2.5.1
flake8==3.4.1
factory-boy==2.9.2

# wheel for PyPI installs
wheel==0.29.0

# Sphinx for documentation builds
Sphinx==1.6.3
