Django==1.11.7
djangorestframework==3.7.3
psycopg2==2.7.3.2

# Test requirements
tox==2.9.1
pytest-django==3.1.2
pytest==3.3.0
pytest-cov==2.5.1
flake8==3.5.0
factory-boy==2.9.2

# wheel for PyPI installs
wheel==0.30.0

# Sphinx for documentation builds
Sphinx==1.6.5
