{% extends "exampleapp/base.html" %}

{% block back %}
<a href="{% url 'schema-list' %}">Back to schema list</a>
<hr>
{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
  {{ form.as_p }}

  <br>
  <h3>Attributes</h3>

  {{ formset.management_form }}
  {{ formset.non_form_errors.as_ul }}
  <table id="formset" class="form">
    {% for form in formset.forms %}
    {% if forloop.first %}
    <thead>
      <tr>
        <th>Name</th>
        <th>Long name</th>
        <th>Type</th>
        <th>Subtype</th>
        <th>Choices</th>
        <th>Default</th>
        <th>Required</th>
        <th>Omit</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="rows">
    {% endif %}
      <tr>
        <td>
          <input id="{{ form.DELETE.id_for_label }}"
                 type="checkbox" hidden="true"
                 name="{{ form.DELETE.html_name }}">
          {{ form.index }}
          {{ form.name.errors.as_ul }}
          {{ form.name }}
        </td>
        <td>
          {{ form.long_name.errors.as_ul }}
          {{ form.long_name }}
        </td>
        <td>
          {{ form.coarse_type.errors.as_ul }}
          {{ form.coarse_type }}
        </td>
        <td>
          {{ form.subtype.errors.as_ul }}
          {{ form.subtype }}
        </td>
        <td>
          {{ form.choices.errors.as_ul }}
          {{ form.choices }}
        </td>
        <td>
          {{ form.default.errors.as_ul }}
          {{ form.default }}
        </td>
        <td>
          {{ form.required.errors.as_ul }}
          {{ form.required }}
        </td>
        <td>
          {{ form.omit.errors.as_ul }}
          {{ form.omit }}
        </td>
        <td>
          <button type="button" class="row-up">
            <strong>&uArr;</strong>
          </button>
          <button type="button" class="row-dn">
            <strong>&dArr;</strong>
          </button>
          <button type="button" class="row-del">
            <strong>X</strong>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <button type="button" id="row-add">
    Add field
  </button>

  <br>
  <br>
  {% block submit_button %}{% endblock %}
  <a href="{% url 'schema-list' %}">
    <input type="button" value="Cancel" />
  </a>
</form>

{% endblock %}


{% block extra_script %}
<script>
 $(document).ready(function() {
   // Need to set index fields here.

   function nforms() { return Number($('#id_attributes-TOTAL_FORMS').attr('value')); }
   function field(name, idx) { return '#id_attributes-' + idx + '-' + name; }
   var fields = {"DELETE": "checkbox",
                 "index": "hidden",
                 "name": "text",
                 "long_name": "text",
                 "coarse_type": "select",
                 "subtype": "text",
                 "choices": "text",
                 "default": "text",
                 "required": "checkbox",
                 "omit": "checkbox"};

   var rows = $('#rows');
   var orig = nforms(), live = orig, deleted = 0;

   function renumber() {
     rows.children().each(function(rowidx) {
       $(this).find('input,select').each(function() {
         var fld = $(this).attr('id').replace(/id_attributes-.*-/, '');
         $(this).attr('id', 'id_attributes-' + rowidx + '-' + fld);
         $(this).attr('name', 'attributes-' + rowidx + '-' + fld);
         if (fld == 'index')
           $(this).val(rowidx + 1);
       });
     });
   }

   function delta_forms(dlive, ddeleted) {
     live += dlive;
     deleted += ddeleted;
     $('#id_attributes-TOTAL_FORMS').attr('value', live + deleted);
     renumber();
   }

   function del_row(event) {
     if (live > 0) {
       var row = $(this).parent().parent()[0];
       var del = $($(row).children()[0]).children()[0];
       if (live > orig) {
         $(row).remove();
         delta_forms(-1, 0);
       } else {
         $(del).prop('checked', true);
         $(rows).append(row);
         $(row).hide();
         delta_forms(-1, 1);
       }
     }
   }

   function add_row(event) {
     var new_row;
     var ddeleted = 0;
     if (deleted > 0) {
       new_row = $($(rows).children()[live]);
       new_row.find(field('DELETE', live)).val(false);
       new_row.show();
       ddeleted = -1;
     } else {
       new_row = $($(rows).children()[0]).clone();
       new_row.find('input,select').each(function() {
         var fld = $(this).attr('id').replace(/id_attributes-.*-/, '');
         switch (fields[fld]) {
           case 'checkbox':
             $(this).prop('checked', false);
             break;

           case 'text':
             $(this).val('');
             break;

           case 'select':
             break;
         }
       });
       $(rows).append(new_row);
       new_row.show();
       new_row.find('.row-del').click(del_row);
       new_row.find('.row-up').click(up_row);
       new_row.find('.row-dn').click(dn_row);
     }
     delta_forms(1, ddeleted);
   }

   function move_row(offset) {
     var row = $(this).parent().parent()[0];
     var index = Number(
       $(row).find('input[id*=index]').attr('id').
              replace(/id_attributes-/, '').replace('-index', '')
     );
     if (index + offset < 0 || index + offset >= live)
       return;
     else if (offset == -1)
       $(row).prev().before(row);
     else
       $(row).next().after(row);
     renumber();
   }
   function up_row() { move_row.bind(this)(-1); }
   function dn_row() { move_row.bind(this)(1); }

   $('.row-del').click(del_row);
   $('.row-up').click(up_row);
   $('.row-dn').click(dn_row);
   $('#row-add').click(add_row);
   renumber();
 });
</script>
{% endblock %}
