{% extends "exampleapp/base.html" %}

{% block title %}Schema list{% endblock %}

{% block back %}
<a href="{% url 'index' %}">Back to index</a>
<hr>
{% endblock %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>Content type</th>
      <th>Division</th>
      <th>Department</th>
      <th></th>
    </tr>
  </thead>
  {% for row in table_data %}
  <tr>
    <td><a href="{% url 'schema-detail' row.schema.pk %}">{{ row.content_type }}</a></td>
    <td>{{ row.division|default_if_none:"&mdash;" }}</td>
    <td>{{ row.department|default_if_none:"&mdash;" }}</td>
    <td><a href="{% url 'schema-delete' row.schema.pk %}">Delete</a></td>
  </tr>
  {% endfor %}
</table>

<br>
<a href="{% url 'schema-add' %}">Create new schema</a>
{% endblock %}
