{% extends "exampleapp/base.html" %}

{% block title %}Update contract{% endblock %}

{% block back %}
<a href="{% url 'contract-list' %}">Back to contract list</a>
<hr>
{% endblock %}

{% block content %}
<table>
  <tr>
    <td>Division:</td>
    <td>{{ object.department.division.name }}</td>
  </tr>
  <tr>
    <td>Department:</td>
    <td>{{ object.department.name }}</td>
  </tr>
</table>

<form action="" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Update" />
  <a href="{% url 'contract-detail' object.pk %}">
    <input type="button" value="Cancel" />
  </a>
</form>
{% endblock %}
