{% extends "exampleapp/base.html" %}

{% block title %}
Update contract ({{ object.department.division.name }}/{{ object.department.name }})
{% endblock %}

{% block back %}
<a href="{% url 'contract-list' %}">Back to contract list</a>
<hr>
{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Update" />
  <a href="{% url 'contract-detail' object.pk %}">
    <input type="button" value="Cancel" />
  </a>
</form>
{% endblock %}
