{% extends "exampleapp/detail_base.html" %}

{% block title %}Department details{% endblock %}

{% block back %}
<a href="{% url 'department-list' %}">Back to department list</a>
<hr>
{% endblock %}

{% block detail_content %}
<table>
  <tr>
    <td>Name:</td>
    <td>{{ object.name }}</td>
  </tr>
  <tr>
    <td>Division:</td>
    <td>{{ object.division.name }}</td>
  </tr>
  <tr>
    <td>Attributes:</td>
    <td>{{ object.attrs }}</td>
  </tr>
</table>
{% endblock %}

{% block detail_links %}
<a href="{% url 'department-delete' object.pk %}">Delete</a>
{% endblock %}
