{% extends "exampleapp/base.html" %}

{% block title %}Party details{% endblock %}

{% block back %}
<a href="{% url 'party-list' %}">Back to party list</a>
<hr>
{% endblock %}

{% block content %}
<table>
  <tr>
    <td>Name:</td>
    <td>{{ object.name }}</td>
  </tr>
  <tr>
    <td>Department:</td>
    <td>{{ object.department.name }}</td>
  </tr>
  <tr>
    <td>Division:</td>
    <td>{{ object.department.division.name }}</td>
  </tr>
</table>

<br>

<a href="{% url 'party-update' object.pk %}">Edit</a>
<a href="{% url 'party-delete' object.pk %}">Delete</a>
{% endblock %}
