{% extends "exampleapp/base.html" %}

{% block title %}Party list{% endblock %}

{% block back %}
<a href="{% url 'index' %}">Back to index</a>
<hr>
{% endblock %}

{% block content %}
<table>
  <thead>
    <th>Name</th>
    <th>Division</th>
    <th>Department</th>
  </thead>
  <tbody>
    {% for party in object_list %}
    <tr>
      <td><a href="{% url 'party-detail' party.pk %}">{{ party.name }}</a></td>
      <td>{{ party.department.division.name }}</td>
      <td>{{ party.department.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br>
<a href="{% url 'party-add' %}">Create new party</a>
{% endblock %}
